<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <!--フォロー数カウントの非同期化の際にindexページとshowページで指定するuserを変えるためのidです！-->
  <tr id="follow_info_count_<%= user.id %>">
    <%= render 'relationships/follow_info_count', user: user %>
  </tr>
  <tr id="follower_info_count_<%= user.id %>">
    <%= render 'relationships/follower_info_count', user: user %>
  </tr>
  </table>

<% if user == current_user %>
<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>
<% else %>
  <div class='row' id='followbtn_info'><%= render 'relationships/follow_info', user: user %></div>
<% end %>